<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" end>
        <ion-menu-button end autoHide="false">
          </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img
        src="./../../assets/imgs/icon-white-notletters.svg"
        alt="Inicio BVC"
        height="33"
        width="33"
        class="text-center"
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 class="page-title"><i class="fas fa-map-marker-alt"></i> Agencias</h2>
  <h5>Seleccione el área para ver sus agencias:</h5>
  <br>

  <div class="panel-group" id="accordion">
    <ion-list>

    <div class="panel panel-default">
          <ion-item>
              <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="panel-title">Gran Caracas Oeste</h4></a>
              </div>
          </ion-item>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">

<!-- USAR ESTE TEMPLATE (?) PARA CADA ZONA DE AGENCIAS (OFICINAS) -->

<div class="agencias">
<p> <strong>Caracas Centro:</strong> Sur 2 de Monjas a San Francisco N° 07. Teléfonos: (0212) 541.2933 / 541.2144
</p>

<p><strong>Bello Monte:</strong> Res. Balpeca, esquina Calle Las Ciencias y Edison. Urb. Bello Monte. Teléfonos: (0212) 693.1611 / 693.1840
</p>

<p><strong>San Bernardino:</strong> Av. Vollmer, Edif. CORPOELEC. Urb. San Bernardino. Teléfonos: (0212) 806.0874 / 806.0881
</p>

<p><strong>Avenida Urdaneta:</strong> Edif. Distromédica, Av. Urdaneta entre Punceres y Plaza España. Teléfonos: (0212) 563.3513/ 563.4648
</p>

<p><strong>Carrizal:</strong> Centro Médico Docente Los Altos, Av. El Lago. Urb. Montaña Alta. Teléfonos: (0212) 383.7447 / 383.6617
</p>

<p><strong>La Florida:</strong> Res. Lido, Av. Andrés Bello entre Av. Las Acacias y Las Palmas. Teléfonos: (0212) 731.2431 / 731.2559
</p>

<p><strong>Casa Matriz:</strong> Edif. Venezolano de Crédito, Av. Alameda. Urb. San Bernardino. Teléfonos: (0212) 806.0650 / 806.0651
</p>

<p><strong>EPA San Martin:</strong> Ferretería EPA, Av. San Martín. Urb. Industrial San Martín. Teléfonos: (0212) 451.3332 / 451.4589
</p>

<p><strong>Makro Vargas:</strong> Tienda Makro, Av. La Armada. Teléfonos: (0212) 514.6954 / 514.6634
</p>

<p><strong>Oeste:</strong> Av. España, Boulevard de Catia. Teléfonos: (0212) 870.7239 / 870.7989
</p>

<p><strong>Clínica Sanatrix:</strong> Urb. Campo Alegre,Clínica Sanatrix, PB, Chacao. Teléfonos: (0212) 263.2381 / 263.3670</p>
<br>
</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <ion-item>
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title">Caracas Sur-Este</h4></a>
        </div>
        </ion-item>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">


<div class="agencias">
<p><strong>La Trinidad:</strong> Centro Comercial Sorocaima, Av. La Trinidad con Calle San Miguel. Urb. La Trinidad. Teléfonos: (0212) 945.1737 / 945.0702</p>

<p><strong>San Luis:</strong> Centro Comercial San Luis. Urb. San Luis. Teléfonos: (0212) 985.6715 / 985.1411</p>

<p><strong>Las Mercedes:</strong> Edif. B.V.C, Calle Londres. Urb. Las Mercedes. Teléfonos: (0212) 993.6936 / 993.6448</p>

<p><strong>La Lagunita: </strong>Centro Empresarial La Lagunita, Av. Sur, Zona B. Teléfonos: (0212) 963.6592 / 963.6157</p>

<p><strong>Prados del Este: </strong>Av. Paseo, Centro Comercial El Morichal. Teléfonos: (0212) 978.4075 / 978.3613</p>

<p><strong>Cumbres de Curumo: </strong>Centro Comercial Cumbres de Curumo, entre Av. Lago de Maracaibo y Av. Lago de Valencia. Teléfonos: (0212) 976.6836 / 976.5018</p>

<p><strong>Los Naranjos: </strong>Centro Comercial Galerías Los Naranjos, Av. El Paují. Teléfonos: (0212) 985.1166 / 985.6566</p>

<p><strong>Taquilla Leopoldo Aguerrevere: </strong>Centro Clínico de Maternidad Leopoldo Aguerrevere, Av. Río Manapire. Urb. Parque Humboldt. Teléfonos:(0212)977.6061 / 975.4480</p>

<p><strong>Macaracuay Plaza: </strong>Centro Comercial Macaracuay Plaza. Urb. Macaracuay. Teléfono: (0212) 256.3910</p>

<p><strong>Excelsior Gama Santa Fe: </strong>Centro Comercial Santa Fe, Av. José María Vargas. Urb. Santa Fe Norte. Teléfonos: (0212) 976.1700 / 976.3999
</p>

<p><strong>Centro Expreso Baruta: </strong>Centro Comercial Expreso Baruta, Av. Los Guayabitos, Sector Piedra Azul. Urb. La Trinidad. Teléfonos: (0212) 945.8300 / 944.0192
</p>

<p><strong>Santa Paula: </strong>Edif. Santa Paula Plaza I, Av.Circunvalación del Sol. Teléfonos: (0212) 986.7653 / 986.7814
</p>

</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <ion-item>
        <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <h4 class="panel-title">Caracas Centro</h4>
        </a>
        </div>
        </ion-item>
            <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">


<div class="agencias">
<p><strong>Chacao: </strong>Edif. Exa, Av. Libertador. Urb. El Rosal. Teléfonos: (0212) 953.4472 / 953.5942</p>

<p><strong>El Paraíso: </strong>Centro Plaza Páez, Urb. El Paraíso. Teléfonos: (0212) 484.6426 / 484.1260</p>

<p><strong>Mata de Coco: </strong>Av. Blandín, Centro Comercial Mata de Coco. Teléfonos: (0212) 266.1811 / 266.0779</p>

<p><strong>Galerías Bolívar: </strong>Edif. Galerías Bolívar, Boulevar de Sabana Grande. Teléfonos: (0212) 762.8194 / 762.9593</p>

<p><strong>Mene Grande: </strong>Av. Francisco de Miranda, Edif. Mene Grande. Urb. Altamira. Teléfonos: (0212) 285.6376 / 286.3025</p>

<p><strong>Av. Libertador: </strong>Centro Comercial Av. Libertador, entre Calle Negrín y Av. Libertador. Urb. La Campiña. Teléfonos:(0212)762.3231 / 762.3232
</p>

<p><strong>La Castellana: </strong>Edif. Centro Letonia Torre ING BANK. Urb. La Castellana. Teléfonos: (0212) 266.9029 / 266.4877</p>

<p><strong>Los Palos Grandes: </strong>Av. Andrés Bello con 4ta Transversal. Urb. Los Palos Grandes. Teléfonos: (0212) 283.4783 / 285.0042</p>

<p><strong>El Rosal: </strong>Centro Seguros Sud America, Av. Francisco de Miranda, Calle Tamanaco con Calle Mohedano. Teléfonos:(0212)953.8726 / 953.7783
</p>

<p><strong>Centro Expreso Chacaíto: </strong>Centro Comercial Expreso, Av. Principal El Bosque cruce con Plaza Brión y Av. Santa Isabel. Urb. Chacaíto. Teléfonos:(0212)952.2417 / 952.3786 
</p>

</div>            
            </div>
        </div>
    </div>
    <div class="panel panel-default">
    <ion-item>
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <h4 class="panel-title">Central</h4>
        </a>
      </div>
    </ion-item>
      <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">


<div class="agencias">

<p><strong>Valencia: </strong>Centro Comercial Torre Valencia, Av. Bolívar cruce con Calle Peñalver. Teléfonos: (0241) 857.8044 / 857.3832
</p>

<p><strong>Valencia, Zona Industrial: </strong>Av. Henry Ford, Primer Sector del Boulevard Industrial Municipal. Teléfonos: (0241) 838.5163 / 838.5787
</p>

<p><strong>El Viñedo: </strong>Av. Monseñor Adams, Boulevard Los Naranjos. Urb. El Viñedo. Teléfonos: (0241) 825.9520 / 825.4558
</p>

<p><strong>EPA La Granja: </strong>Ferretería EPA, Centro Comercial La Granja, Av. Universidad con Calle Paseo Venezuela. Teléfono: (0241) 868.3096
</p>

<p><strong>Makro Valencia: </strong>Tienda Makro, Zona Industrial 1, Autopista Caracas-Valencia. Teléfonos: (0241) 832.0931 / 832.4755
</p>

<p><strong>Makro Naguanagua: </strong>Tienda Makro, Av. Colectora No. 18-A, Terrazas de Naguanagua. Teléfonos:(0241)415.3671 / 415.3733</p>

</div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
        <ion-item>
        <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <h4 class="panel-title">Caracas Este</h4></a>
        </div>
        </ion-item>
      <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
                
<div class="agencias">

<p><strong>Guarenas: </strong>Centro Comercial Buenaventura, Av. Intercomunal Guarenas-Guatire. Teléfonos: (0212) 381.0069 / 381.1314
</p>

<p><strong>Taquilla Schlumberger: </strong>Av. Rio Caura, Torre Humboldt, piso 13, Urb. Prados del Este, Parroquia Baruta, ZP 1080. Municipio Baruta, Caracas Estado Miranda. Teléfonos: (0212) 975.3349 / 975.3559 / 975.3323
</p>

<p><strong>La Estancia: </strong>Av. La Estancia, Edif. Torre Diamen. Urb. Chuao. Teléfonos: (0212) 992.1626 / 992.1848</p>

<p><strong>Los Ruices: </strong>Edif. Principal N°1, Av. Principal de los Ruices, cruce con 1era Transversal. Teléfonos: (0212) 239.7713 / 239.7742
</p>

<p><strong>La Urbina: </strong>Calle 10, Edif. Anauco. Urb. La Urbina. Teléfonos: (0212) 241.9316 / 241.0228</p>

<p><strong>Boleíta: </strong>Edif. Centro Gerencial Los Andes, Av. Rómulo Gallegos, cruce con Av. Las Palmas. Urb.Boleíta Norte. Teléfonos: (0212) 237.2758 / 237.2552</p>

<p><strong>EPA Los Ruices: </strong>Ferretería EPA, Av. Los Cortijos de Lourdes, Calle A, Zona Industrial Los Ruices. Teléfonos: (0212) 238.3215 / 237.9493
</p>

<p><strong>Excelsior Gama Santa Eduvigis: </strong>Supermercado Excelsior Gama, Av. Rómulo Gallegos. Teléfono: (0212) 285.1393
</p>
</div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <ion-item>
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
           <h4 class="panel-title">Centro-Occidente</h4></a>
      </div>
    </ion-item>
      <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
               
<div class="agencias">

<p><strong>Barquisimeto: </strong>Carrera 19 entre Calles 14 y 15. Urb. Las Acacias. Teléfonos: (0251) 251.9289 / 251.9033
</p>

<p><strong>Los Leones: </strong>Policlínica Barquisimeto, Av. Los Leones con Calle Madrid. Teléfonos: (0251) 255.1822 / 255.0901
</p>

<p><strong>Makro Barinas: </strong>Tienda Makro, Av. Cuatricentenaria con callejón 9, Parroquia El Carmen. Teléfonos: (0273) 532.0934 / 532.3107
</p>

<p><strong>Makro Acarigua: </strong>Tienda Makro, Av. Vencedores de Araure. Teléfonos: (0255) 665.2436 / 665.1252
</p>

<p><strong>Makro Barquisimeto: </strong>Tienda Makro, Av. Las Industrias cruce con Av. Ferrocarril, Calle 33, Zona Industrial. Teléfonos: (0251) 237.1507 / 237.0953</p>

<p><strong>Makro San Felipe: </strong>Tienda Makro, Av. Intercomunal San Felipe. Sector Cocorote. Teléfonos: (0254) 514.4061 / 232.7021</p>

<p><strong>Barquisimeto Parque Real: </strong>Centro Comercial Parque Real, Av. Los Leones con Av. Lara. Urb. Nueva Segovia. Teléfonos: (0251) 254.0173 / 254.0603
</p>
</div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
        <ion-item>
        <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          <h4 class="panel-title">Oriente</h4></a>
      </div>
        </ion-item>
      <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body">
                
<div class="agencias">
<p><strong>Anaco: </strong>Sector Noreste del Plano del Parcelamiento Anaco, entre la Av. Lara y Av. José Antonio Anzoátegui. Teléfonos: (0282) 424.6412 / 424.4946
</p>

<p><strong>Porlamar: </strong>Centro Comercial Rattan Plaza, Av. Jóvito Villalba con Av. Aldonza Manrique. Teléfonos: (0295) 262.0786 / 262.1237
</p>

<p><strong>Puerto Ordaz: </strong>Calle Guri cruce con Calle Cuchivero. Urb. Alta Vista Norte. Teléfonos: (0286) 962.6065 / 962.4340</p>

<p><strong>Las Garzas: </strong>Torre Banco Venezolano de Crédito, Av. Intercomunal Andres Bello, Sector Las Garzas. Teléfonos: (0281) 286.5794 / 286.2456</p>

<p><strong>Maturín: </strong>Av. Bolívar con Calle 4 N° 30. Teléfonos: (0291) 642.9844 / 642.3622</p>

<p><strong>Makro El Tigre: </strong>Tienda Makro, Av. Intercomunal El Tigre-El Tigrito. Teléfonos: (0283) 241.9482 / 241.9106</p>

<p><strong>El Tigre: </strong>Av. Intercomunal El Tigre. Teléfonos: (0283) 241.2723 / 241.2663</p>

<p><strong>Makro Porlamar: </strong>Tienda Makro, Av. Francisco Fajardo. Teléfonos: (0295) 274.4308 / 274.0597</p>

<p><strong>Makro Cumaná: </strong>Tienda Makro, Av. Rotaria, con Av. Carúpano. Sector El Peñón. Teléfonos: (0293) 467.1359 / 467.1255</p>

</div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <ion-item>    
    <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><h4 class="panel-title">Andes</h4></a>
    </div>
    </ion-item>
      <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">

<div class="agencias">

<p><strong>San Cristobal: </strong>Centro Comercial Boulevar Pirineos. Sector Barrio Obrero. Teléfonos: (0276) 355.0487 / 355.0376</p>

<p><strong>Makro Mérida: </strong>Tienda Makro, Av. Centenario. Urb. Pozo Hondo Teléfonos: (0274) 221.2064 / 221.3831</p>

<p><strong>Makro Valera: </strong>Tienda Makro, Av. Cruz Carrillo, Autopista Valera-Trujillo. Sector Santa Inés. Teléfonos: (0271) 249.2739 / 249.2363</p>

<p><strong>Makro El Vigía: </strong>Tienda Makro, Carretera Panamericana. Teléfonos: (0275) 881.0411 / 881.5911</p>

<p><strong>Mérida: </strong>Centro Comercial Europlaza, Av. Andrés Bello. Sector Pie del Llano. Teléfonos: (0274) 266.6677 / 266.7370</p>

</div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <ion-item>
    <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"><h4 class="panel-title">Zulia</h4></a>
    </div>
</ion-item>
    <div id="collapseNine" class="panel-collapse collapse">
          <div class="panel-body">
<div class="agencias">
<p><strong>Maracaibo: </strong>Av. 4 con Calle 76. Urb. Bella Vista Teléfonos: (0261) 792.2475 / 792.2466</p>

<p><strong>Ciudad Ojeda: </strong>Carretera N. Frente al Centro Médico Lagunillas. Barrio Unión. Teléfonos: (0265) 641.1855 / 641.0475</p>

<p><strong>Maracaibo Zona Industrial: </strong>Edif. Wilera 1, Av. 58, Circunvalación N°2. Teléfonos: (0261) 736.4816 / 736.7264</p>

<p><strong>Makro Paraguana: </strong>Tienda Makro, Carretera Los Taques, Redoma El Taparo. Teléfonos: (0269) 247.4839 / 247.5454</p>

<p><strong>Maracaibo Norte: </strong>Centro Comercial Lago Norte, Av. Milagro Norte. Teléfonos: (0261) 732.2351 / 732.2487</p>

</div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <ion-item>
      <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"><h4 class="panel-title">Central Los Llanos</h4></a>
      </div>
    </ion-item>
      <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">

<div class="agencias">
<p><strong>Las Delicias: </strong>Av. General Páez con 2da transversal. Urb. Base Aragua. Teléfonos: (0243) 232.4261 / 232.8373</p>

<p><strong>La Victoria: </strong>Centro Comercial Ciudad Morichal, entre Av. Victoria y Av. El Peaje. Teléfonos: (0244) 322.8864 / 322.8259</p>

<p><strong>EPA Turmero: </strong>Ferretería Epa, Av. Intercomunal de Turmero. Teléfonos: (0243) 269.1907 / 269.1054</p>

<p><strong>Makro Charallave: </strong>Tienda Makro, Av. Perimetral Charallave - Ocumare. Teléfonos: (0239) 248.7294 / 248.9656</p>

<p><strong>Telefónica Cagua: </strong>Centro Comercial Trinidad Plaza, Calle Sabana Larga con Calle Cajigal. Urb. La Haciendita. Teléfonos: (0244) 396.9309</p>

<p><strong>Makro Valle de la Pascua: </strong>Tienda Makro, Distribuidor El Tranquero, Av. Rómulo Gallegos. Teléfonos: (0235) 341.0446 / 341.0665</p>

<p><strong>Makro Maracay: </strong>Tienda Makro, Av. Intersan y Calle Simón Rodríguez. Urb. Los Samanes. Teléfonos: (0243) 218.2240 / 218.2262</p>

<p><strong>Makro San Juan: </strong>Tienda Makro, Av. Acosta Carles, cruce con Av. Zona Industrial, San Juan de Los Morros. Teléfonos: (0246) 415.5517 / 415.5534</p>

</div>
          </div>
      </div>
  </div>
  </ion-list>
  </div>
</ion-content>
