<ion-app>
    <ion-menu persistent="true">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content>
          <!--ContentBody-->
          <ion-list>
            <ion-item (click)="setCategory('home')">
              <p style="color: rgba(0, 108, 119, 1);">
                <i class="fas fa-home iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Inicio
              </p>
            </ion-item>
            <ion-item (click)="setCategory('personal')">
              <p style="color: rgba(0, 108, 119, 1);"><i class="fas fas fa-user-circle iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Personas</p>
            </ion-item>
            <ion-item (click)="setCategory('comercial')">
              <p style="color: rgba(0, 108, 119, 1);"><i class="fas fa-briefcase iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Empresas</p>
            </ion-item>
            <ion-item (click)="setCategory('agencia')">
              <p style="color: rgba(0, 108, 119, 1);"><i class="fas fa-map-marker-alt iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Agencias</p>
            </ion-item>
            <ion-item (click)="openURL('http://www.venezolano.com')">
              <p style="color: rgba(0, 108, 119, 1);"><i class="fas fa-globe-americas iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Venezolano.com</p>
            </ion-item>
            <ion-item (click)="setCategory('social')">
              <p style="color: rgba(0, 108, 119, 1);"><i class="fas fa-share-alt iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Redes Sociales</p>
            </ion-item>
            <ion-item (click)="setCategory('ayuda')">
              <p style="color: rgba(0, 108, 119, 1);"><i class="fas fa-question-circle iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Ayuda</p>
            </ion-item>
            <ion-item (click)="setCategory('config')">
                  <p style="color: rgba(0, 108, 119, 1);"><i class="fas fa-cog iconohamburger" style="padding-top: 1rem; margin-right: 1rem"></i> Configuración</p>
                </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
