<ion-app>
    <ion-menu persistent="true">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content>
          <!--ContentBody-->
          <ion-list>
            <ion-item (click)="setCategory('home')">
              <ion-avatar item-left>
                <i class="fas fa-home iconohamburger"></i>
              </ion-avatar>
              <h3>Inicio</h3>
            </ion-item>
            <ion-item (click)="setCategory('personal')">
              <ion-avatar item-left>
                <i class="fas fas fa-user-circle iconohamburger"></i>
              </ion-avatar>
              <h3>Personas</h3>
            </ion-item>
            <ion-item (click)="setCategory('comercial')">
              <ion-avatar item-left>
                <i class="fas fa-briefcase iconohamburger"></i>
              </ion-avatar>
              <h3>Empresas</h3>
            </ion-item>
            <ion-item (click)="setCategory('agencia')">
              <ion-avatar item-left>
                <i class="fas fa-map-marker-alt iconohamburger"></i>
              </ion-avatar>
              <h3>Agencias</h3>
            </ion-item>
            <ion-item (click)="openURL('http://www.venezolano.com')">
              <ion-avatar item-left>
                <i class="fas fa-globe-americas iconohamburger"></i>
              </ion-avatar>
              <h3>Venezolano.com</h3>
            </ion-item>
            <ion-item (click)="setCategory('social')">
              <ion-avatar item-left>
                <i class="fas fa-share-alt iconohamburger"></i>
              </ion-avatar>
              <h3>Redes Sociales</h3>
            </ion-item>
            <ion-item (click)="setCategory('ayuda')">
              <ion-avatar item-left>
                <i class="fas fa-question-circle iconohamburger"></i>
              </ion-avatar>
              <h3>Ayuda</h3>
            </ion-item>
            <ion-item (click)="setCategory('config')">
                  <ion-avatar item-left>
                    <i class="fas fa-cog iconohamburger"></i>
                  </ion-avatar>
                  <h3>Configuración</h3>
                </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
